python-dateutil
git+https://github.com/forseti-security/resource-policy-evaluation-library.git@v2.0.10#egg=rpe-lib
jmespath
google-cloud-pubsub
google-cloud-logging
google-cloud-monitoring
google-auth
# https://github.com/grpc/grpc/issues/24552
grpcio==1.30.0
pydantic
